.header {
    background-color: var(--darkerBg);
    opacity: 0.5;

    width: 125px;
    height: 100%;
    padding-left: 0;

    position: fixed;

    display: flex;
    flex-direction: column;
}



.header:hover {
    opacity: 1;
    width: 200px;
}

.header .tab {
    display: flex; /* Added */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally (optional if needed) */
    font-size: 18px;
    border-radius: 5%;
    color: var(--text);
    height: 100%;
}

.header .tab p {
    margin: 0; /* Ensure there's no default margin on p */
}

.header .tab:hover {
    cursor: pointer;
    font-size: 24px;
    box-shadow: 2px 2px 5px black;
}

.home:hover{
    background-color: #000; 

}

.webapps:hover{
    background-color: #000; 

}

.unity:hover{
    background-color: #000; 

}

.modeling:hover{
    background-color: #000; 

}   

.contact:hover{
    background-color: #000; 

}

@media screen and (max-width: 500px){
    .header{
        display: none;
    }
}