#root {
  margin: 0 auto;
  text-align: center;
  
}
html{
  scroll-snap-type: y mandatory;
}

body {
  --text: #aed1d1;
  --Bg: #234343;
  --darkerBg: #172e2e;
  --cardBg: #050a0a;
  --headerItemBg: #255454;
  --primary: #64dbdb;
  --secondary: #e2b3de;
  --darkerSecondary: #b17ead;
  --accent: #00ffff;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color: var(--text);

  background:linear-gradient(to bottom, var(--darkerBg), var(--Bg));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

section{

  scroll-snap-align: start;
  scroll-snap-stop: always;

  scroll-padding-top: 100px;
  scroll-padding-bottom: 100px;
  
  /*
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  */
}


@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

a {
  font-weight: 500;
  color: var(--accent);
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul{
  list-style-type: none;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--darkerBg);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--darkerSecondary);
  cursor: pointer;
}