
.section-react h1{
    margin-top: 50px;
    margin-bottom: 50px;
}

.react-project-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
#card{
    background-color: var(--cardBg);
    color: var(--text);
    width: 300px;
    text-align: left;
}
#card:hover{
    scale: 1.05;
    transform: translateY(-10px);
    cursor: pointer;
}

#card .card-text{
    color: var(--secondary);
}

#card :nth-child(3){
    text-align: center;
}
#card .badge{
    font-size: medium;
}

#card  .card-footer{
    background-color: var(--cardTitleBg);
    text-align: left;
    display: flex;
    justify-content: space-evenly;
}
#card .card-footer:nth-child(even){
    margin-left: 500px;
}

.project-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media screen and (max-width: 500px){

}